# Игнорирование сгенерированных файлов и папок сборки
/build
/cmake-build-debug
sniffer

# Игнорирование файлов и папок, связанных с IDE
.vscode
.idea
*.swp
*~
*.bak

# Игнорирование временных и автоматически сгенерированных файлов
*.tmp
*.log
*.bak
*.cache
*.DS_Store